* {
  box-sizing: border-box;
}

html,
body {
  background-color: floralwhite;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
P {
  font-weight: 200;
}
a {
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
  padding: 0 3px;
  transition: all 0.5s;
}

a:hover {
  color: #ff970f;
  transform: scale(1.2);
}
hr {
  border: 2px double black;
}
