* {
  box-sizing: border-box;
}

html,
body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

P {
  font-weight: 200;
}
a {
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
  padding: 0 3px;
  transition: all 0.5s;
}

a:hover {
  transform: scale(1.1);
}
hr {
  border: 0.1px solid rgb(205, 199, 199);
}
