html,
body {
  background-color: antiquewhite;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
  padding: 0 3px;
}

a:hover {
  color: aliceblue;
}
h1 {
  font-size: xx-large;
}
hr {
  border: 2px double black;
}
