.container {
  margin: 2rem auto;
  max-width: calc(100% - 5px);
}

.fl {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: aliceblue;
  background-color: black;
  padding: 0.4rem;
  /* min-width: 100vw; */
}
.gr2 {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}

/* article card  */

.card {
  /* border: 2px solid black; */
  margin: 20px 10px;
  border-radius: 20px 20px 0 0;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.imageContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.imageContainer img {
  max-width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.articleContent {
  /* padding: 1rem 1rem; */
  margin: 0;
  padding-bottom: 1rem;
}
.articleContent h3 {
  font-size: 1.5rem;
  width: min-content;
  text-align: start;
  letter-spacing: 1px;
  line-height: 25px;
}
.articleContent h3 {
  margin: 5px;
  font-size: 2rem;
  width: min-content;
  text-align: start;
  letter-spacing: 1px;
  line-height: 25px;
}
.articleContent p {
  margin: 10px;
  font-size: small;
}
@media screen and (min-width: 768px) {
  .gr2 {
    /* max-width: 608px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    display: grid;
    grid-template-rows: 220px 1fr;
  }
}
@media screen and (min-width: 1080px) {
  .gr2 {
    /* max-width: 608px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
