.container {
  margin: 2rem auto;
  max-width: calc(100% - 5px);
}

.fl {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: aliceblue;
  background-color: black;
  padding: 0.8rem;
  /* min-width: 100vw; */
}
.gr2 {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}

/* article card  */

.card {
  /* border: 2px solid black; */
  margin: 20px 10px;
  border-radius: 20px 20px 0 0;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-height: fit-content;
}
.imageContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.imageContainer img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.articleContent {
  /* padding: 1rem 1rem; */
  margin: 10px;
  padding-bottom: 1rem;
}
.articleContent div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleContent h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 50%;
  text-align: start;
  line-height: 20px;
}
.articleContent p {
  margin-top: 1px;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .gr2 {
    /* max-width: 608px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (min-width: 1080px) {
  .gr2 {
    /* max-width: 608px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
